In [98]:
### surgery?, Age, rectal temperature, pulse, temperature of extremities, peripheral pulse, mucous membranes, capillary refill time

import pandas as pd
import numpy as np

data = pd.read_csv('horse_data.csv', header=None, na_values = ['?'])
data.columns = ['surgery?', 'Age', 'hospital_number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 
               'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension',
               'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination', 'abdomen', 'packed_cell_volume',
               'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical lesion?',
               '25_type_of_lesion', '26_type_of_lesion', '27_type_of_lesion', 'cp_data']

df = data[['surgery?', 'Age', 'rectal_temperature', 'pulse', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time']]

temp_range = max(df['rectal_temperature']) - min(df['rectal_temperature'])
print('Размах по температуре:', temp_range)
print('Среднее арифметическое по температуре:', df['rectal_temperature'].mean())
print('Значение моды по температуре:', df['rectal_temperature'].mode()[0])
print('Значение медианы по температуре:', df['rectal_temperature'].median())
print('СКО по температуре:', df['rectal_temperature'].std())
print('Дисперсия по температуре:', df['rectal_temperature'].var())
Q1 = df['rectal_temperature'].quantile(0.25)
Q3 = df['rectal_temperature'].quantile(0.75)
IQR = Q3 - Q1
print('1я квартиль по температуре:', Q1)
print('3я квартиль по температуре:', Q3)
print('Межквартильный размах по температуре:', IQR)

print()

pulse_range = max(df['pulse']) - min(df['pulse'])
print('Размах по пульсу:', pulse_range)
print('Среднее арифметическое по пульсу:', df['pulse'].mean())
print('Значение моды по пульсу:', df['pulse'].mode()[0])
print('Значение медианы по пульсу:', df['pulse'].median())
print('СКО по пульсу:', df['pulse'].std())
print('Дисперсия по пульсу:', df['pulse'].var())
Q1_2 = df['pulse'].quantile(0.25)
Q3_2 = df['pulse'].quantile(0.75)
IQR_2 = Q3_2 - Q1_2
print('1я квартиль по пульсу:', Q1_2)
print('3я квартиль по пульсу:', Q3_2)
print('Межквартильный размах по пульсу:', IQR_2)

#на основании полученных данных о распределении температуры лошадей видим, что среднее значение
#38.2 больше нормы 37.8, т.е. температура большинства больше нормального значения, что может говорить о наличии повреждений
#у большинства поступивших на госпитализацию.

#пульс большинства также гораздо выше нормального значения, что говорит о том, что у большинства поступивших животных 
#вероятно были болезненные повреждения и шок кровообращения. Значение дисперсии и размаха относительно 3й квартили указывает
#на то, что значения данного поля следует проверить на наличие выбросов.

Размах по температуре: 5.399999999999999
Среднее арифметическое по температуре: 38.16791666666669
Значение моды по температуре: 38.0
Значение медианы по температуре: 38.2
СКО по температуре: 0.7322886641121578
Дисперсия по температуре: 0.5362466875871686
1я квартиль по температуре: 37.8
3я квартиль по температуре: 38.5
Межквартильный размах по температуре: 0.7000000000000028

Размах по пульсу: 154.0
Среднее арифметическое по пульсу: 71.91304347826087
Значение моды по пульсу: 48.0
Значение медианы по пульсу: 64.0
СКО по пульсу: 28.630556660735003
Дисперсия по пульсу: 819.7087747035575
1я квартиль по пульсу: 48.0
3я квартиль по пульсу: 88.0
Межквартильный размах по пульсу: 40.0

Анализ на выбросы по значениям пульса:

,surgery?,Age,rectal_temperature,pulse,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time
41,2.0,9,39.0,150.0,NaN,NaN,NaN,NaN
275,1.0,9,38.8,150.0,1.0,3.0,6.0,2.0
55,1.0,9,38.6,160.0,3.0,NaN,5.0,1.0
3,1.0,9,39.1,164.0,4.0,1.0,6.0,2.0
255,1.0,9,38.8,184.0,1.0,NaN,1.0,1.0

In [100]:
print('Анализ на выбросы по значениям температуры:')
lower_temp = Q1 - (1.5 * IQR)
upper_temp = Q3 + (1.5 * IQR)
remove_temp = df[df['rectal_temperature'].between(lower_temp, upper_temp, inclusive=True)]
pd.concat([df, remove_temp]).drop_duplicates(keep=False).sort_values('rectal_temperature').dropna(subset=['rectal_temperature'])

#получилось 12 значений, считающихся выбосами. Среди них не замечено ничего подозрительного - каждое вполне допустимо.
#удалять нет необходимости.

Анализ на выбросы по значениям температуры:

,surgery?,Age,rectal_temperature,pulse,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time
44,1.0,1,35.4,140.0,3.0,3.0,4.0,2.0
141,2.0,1,36.0,42.0,NaN,NaN,5.0,1.0
238,2.0,1,36.1,88.0,3.0,3.0,3.0,1.0
80,1.0,1,36.4,98.0,3.0,3.0,4.0,1.0
118,1.0,1,36.5,78.0,1.0,NaN,1.0,1.0
298,1.0,1,36.5,100.0,3.0,3.0,3.0,1.0
251,2.0,1,36.6,42.0,3.0,3.0,2.0,1.0
99,2.0,1,39.6,108.0,3.0,3.0,6.0,2.0
75,1.0,9,39.7,100.0,3.0,3.0,5.0,2.0
20,1.0,1,39.9,72.0,1.0,1.0,5.0,2.0
281,2.0,1,40.0,78.0,3.0,3.0,5.0,1.0
259,1.0,1,40.8,72.0,3.0,3.0,1.0,1.0

In [102]:
print('Анализ на выбросы по значениям пульса:')
lower_temp = Q1_2 - (1.5 * IQR_2)
upper_temp = Q3_2 + (1.5 * IQR_2)
remove_temp = df[df['pulse'].between(lower_temp, upper_temp, inclusive=True)]
pd.concat([df, remove_temp]).drop_duplicates(keep=False).sort_values('pulse').dropna(subset=['pulse'])

#сами значения кажутся всерьез завышенными, если сравнивать с нормой и параметрами, вычисленными в предыдущей задаче, но видим,
#что температура данных примеров также довольно сильно, но не критично, повышена, что говорит о вероятном наличии повреждений.
#в данном случае серьезно повышенный пульс также допустим и значения стоит оставить.

Анализ на выбросы по значениям пульса:

,surgery?,Age,rectal_temperature,pulse,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time
41,2.0,9,39.0,150.0,NaN,NaN,NaN,NaN
275,1.0,9,38.8,150.0,1.0,3.0,6.0,2.0
55,1.0,9,38.6,160.0,3.0,NaN,5.0,1.0
3,1.0,9,39.1,164.0,4.0,1.0,6.0,2.0
255,1.0,9,38.8,184.0,1.0,NaN,1.0,1.0

In [117]:
#насколько понимаю, в задании следует найти количество пропусков, а не выбросов по столбцам и в описании ошибка

print('Всего:\n', df.count(),'\n')
print('Нулевые:\n', df.isnull().sum())

#самое большое число пропусков по отношению к общему количеству строк у полей rectal_temperature и peripheral_pulse.

#rectal_temperature, вероятно, можно было бы заменить средним значением температуры, которое соответствует лошадям с тем же
#значением поля temperature of extremities, т.к., судя по описанию, это зависимые понятия.

#в peripheral_pulse также можно было бы установить самое встречающееся значение поля для лошадей с аналогичными значениями
#поля mucous membranes

df.dropna()

Всего:
 surgery?                      299
Age                           300
rectal_temperature            240
pulse                         276
temperature_of_extremities    244
peripheral_pulse              231
mucous_membranes              253
capillary_refill_time         268
dtype: int64

Нулевые:
 surgery?                       1
Age                            0
rectal_temperature            60
pulse                         24
temperature_of_extremities    56
peripheral_pulse              69
mucous_membranes              47
capillary_refill_time         32
dtype: int64

,surgery?,Age,rectal_temperature,pulse,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time
2,2.0,1,38.3,40.0,1.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,4.0,1.0,6.0,2.0
6,1.0,1,37.9,48.0,1.0,1.0,1.0,1.0
10,1.0,1,38.1,66.0,3.0,3.0,5.0,1.0
12,1.0,1,37.2,42.0,2.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
292,1.0,1,37.0,66.0,1.0,3.0,2.0,1.0
294,2.0,1,38.5,40.0,1.0,1.0,1.0,1.0
296,2.0,1,37.2,72.0,3.0,2.0,4.0,2.0
297,1.0,1,37.5,72.0,4.0,3.0,4.0,1.0
298,1.0,1,36.5,100.0,3.0,3.0,3.0,1.0